*, *::before, *::after {
  box-sizing: border-box; /* simplifies many things */
  font-family: Arial, sans-serif;
}

footer ul, li, a.ico-gapps, a.ico-notif, a.ico-user, .icon-kb, .icon-mic {
  display: inline-block;
}

li {  
  list-style: none;
}

nav {
  text-align: right;
  font-size: 13px;
}

nav li {
  margin-right: 20px;
}

nav li a, a.ico-gapps, a.ico-notif, a.ico-user {
  line-height: 32px;
  color: #000;
  text-decoration: none;
}

nav li a:hover, footer a:hover {
  text-decoration: underline;
}

a.ico-gapps, a.ico-notif {
  position: relative;
  top: 6px;
  width: 20px;
  height: 20px;
  opacity: .55;
}

a.ico-gapps:hover, a.ico-notif:hover {
  opacity: 1;
}

a.ico-gapps {
  background: url('../img/gapps.png') no-repeat 50% 50%;
}

a.ico-notif {
  border: 1px solid transparent;
  border-radius: 50%;
  background: #000 url('../img/bell.png') no-repeat 50% 50%;
}

a.ico-user {
  width: 32px;
  height: 32px;
  border: 1px solid transparent;
  border-radius: 50%;
  background: url('../img/user.png') no-repeat 50% 50%;
}

main {
  padding: 10% 7%;
}

.logo, .search, .searchbox {  
  margin: 0 auto;
  text-align: center;
}

.logo {
  width: 269px;
  height: 95px;
  margin-top: 5px;
  margin-bottom: 25px;
  background: url('../img/logo.png') no-repeat;
  background-size: 269px 95px;
}

.searchbox {
  width: 52.5%;
  padding: 3px;
  border: 1px solid #e2e2e2;
  text-align: left;
}

.icon-kb {
  width: 19px;
  height: 16px;
  background: url(data:image/gif;base64,R0lGODlhEwALAKECAAAAABISEv///////yH5BAEKAAIALAAAAAATAAsAAAIdDI6pZ+suQJyy0ocV3bbm33EcCArmiUYk1qxAUAAAOw==) no-repeat 50% 50%;
  background-size: 19px 11px;
  opacity: .55;
}

.icon-mic {
  width: 16px;
  height: 18px;
  margin-left: 5px;
  background: url('data:image/gif;base64,R0lGODlhHAAmAKIHAKqqqsvLy0hISObm5vf394uLiwAAAP///yH5BAEAAAcALAAAAAAcACYAAAO9eLpMIMYIQJi9DcYtKv6KtnHgB4yoAZSXKAyDy1rjoAzjzOQLrx8+4OanCAZnxiExGSEKmz3lj2lwUq3SZ3WZPbKuXGgxu9t4tLYDTkpIRQILF0x2G4lWipM7gj/oJQUkcXsCDCIFATULBCIcZ2tvB3QLDxETFnR/BgU/gRt9jX0gnpYMkJZpFzEoqQqJKAIBaQOVKHAXr3t7txgBjboSvB8EpLoFZywOAo3LFE5lYs/QW9LT1TRk1V7S2xYJADs=') no-repeat 50% 50%;
  background-size: 13px 18px;
  opacity: .55;
}

.icon-kb:hover, .icon-mic:hover {
  opacity: 1;
}

.searchbox > input {
  border: 0;
  outline: 0;
  width: 90%;
}

.searchbox ~ input[type="submit"] {
  min-width: 54px;
  height: 29px;
  margin: 11px 8px;
  padding: 0 8px;
  line-height: 29px;
  color: #444;  
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 2px;
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-color: #f5f5f5;
  background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
  font-size: 11px;
  font-weight: bold;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e4e4e4;
  background: #f2f2f2;
  line-height: 15px;
  font-size: 13px;
}

footer > ul:nth-child(2) {
  float: right;
}

footer li {
  margin-right: 27px;
}

footer a {
  color: #666;
  text-decoration: none;
}